@media screen and (min-width: 1025px) {
    main {
        font-size : 450%;
    }
    input{
        width : 450px;
        height : 50px;
    }
    ::-webkit-input-placeholder {
        font-size : 100%;
    }
    #btnSubmit{
        width : 300px;
        font-size : 80%;
        margin-bottom : 25px;
    }
    .contenairLogin{
        font-size : 90%;
    }
    .contenairLoginResult{
        font-size : 100%;
    }
    .allGood{
        font-size : 90%;
    }
    .profileResponse {
        color: black;
        display: block;
        text-align: center;
        line-height: initial;
    }
    .blocInfoPofile{
        height : auto;
    }
    .refreshNickname{
        text-align: left;
        margin-left : 50px;
    }
    .elevator{
        margin-right : 120px;
        margin-bottom : 40px;
        width : 68px;
    }

    /*************************************************************/
    /*                          Menu                              /
    /*************************************************************/

    .header li a {
        display: block;
        padding: 20px 30px;
        border-right: 1px solid #f4f4f4;
        text-decoration: none;
        font-size: 55%;
        color: white;
        text-align: center;
    }

    .header li {
        float: left;
    }
    .header .menu {
        clear: none;
        float: right;
        max-height: none;
    }
    .header .menu-icon {
        display: none;
    }

    /*************************************************************/
    /*                          Article                           /
    /*************************************************************/

    .articleConteneur{

        width: 60%;

    }

    .article h2{

        font-size: 65%;

    }

    .articleContent{
        font-size: 40%;
    }

    .author{

        font-size: 40%;
    }

    /*********************** View Article ************************/

    .titleArticle{

        font-size: 65%;

    }

    .viewArticleConteneur{

        padding: 5px;
        width: 60%;

    }

    .viewArticleContent{

        font-size: 55%;

    }

    .linkViewArticle{

        font-size: 50%;
    }

    /*********************** Commentaires ************************/

    .comment{

        padding: 5px;

    }

    .commentContent{

        font-size: 55%;

    }

    .dateComm{

        font-size: 40%;

    }

    /*******************commentForm ******************************/

    .commentForm label{

        font-size: 60%;
    }

    .commentForm input[type="text"]{
        width: 40%;
        font-size : 50%;
        height: 8%;
    }


    .commentForm input[type="submit"]{
        width: 30%;
        font-size: 65%;
    }

    /*******************addForm ******************************/

    .addForm label{

        font-size: 60%;

    }

    .addForm input[type="text"]{
        width: 40%;
        font-size : 50%;
        height: 8%;
    }


    .addForm input[type="submit"]{
        width: 30%;
        font-size: 65%;
    }

    .addForm select{
        width: 12%;
        font-size: 50%;
    }

    /*************************************************************/
    /*                          Categorie                         /
    /*************************************************************/

    .categories th{

        font-size: 65%;

    }

    .categories td{

        font-size: 50%;
        margin-bottom: 3%;

    }

}