@media (min-width: 641px) {
    main {
        font-size : 300%;
    }
    input{
        width : 300px;
    }
    ::-webkit-input-placeholder {
        color:white;
        opacity: 0.5;
        font-size : 100%;
    }
    .contenairLogin{
        line-height:80px;
        font-size : 120%;
    }
    .blocInfoPofile{
        height: 635px;
    }
}